footer(class="footer")
	div(class="container")
		div(class="row")
			div(class="col-lg-4 col-md-6")
				div(class="widget_text widget footer-widget")
					div(class="textwidget custom-html-widget")
						figure(class="logo")
							img(src="images/logo.png", alt="Image")
						p 2075 Brandon Trail Alpharetta, 
							br
							| Egypt - Cairo
			div(class="col-lg-4 col-md-6")
				div(class="widget_text widget footer-widget")
					h6(class="widget-title") Quick Links
					div(class="textwidget custom-html-widget")
						ul(class="footer-menu")
							li
								a(href="") Air Freight
							li
								a(href="") Sea Freight
							li
								a(href="") Ground Cargo
							li
								a(href="") Packaging Options
							li
								a(href="") Track Your Shipment
			div(class="col-lg-4")
				div(class="widget footer-widget")
					h6(class="widget-title") Subscribe Newsletter
					form(method="post")
						div(class="mc4wp-form-fields")
							input(type="email", placeholder="enter your email address..")
							input(type="submit", value="Subscribe")
						label(style="display: none !important;") Leave this field empty if you&apos;re human: 
							input(type="text", name="_mc4wp_honeypot", value="", tabindex="-1", autocomplete="off")
			div(class="col-12")
				div(class="footer-bottom")
					span © 2021 | Powered by 
					a(href="#") perfect workgroup
	// end container
