//- section.loading 
    img(src="images/load.gif", class="img-fluid", alt="")
script(src="js/jquery.min.js")
script(src="js/fontawesome.min.js")
script(src="js/bootstrap.bundle.min.js")
script(src="js/owl.carousel.min.js")
script(src="js/aos.js")
script(src="js/script.js")