div(class="topbar")
	div(class="container")
		div(class="phone")
			span Call Us Now:
			a(href="#")  +1 (850) 344 0 66 
		div(class="email") Email: 
			a(href="#") sales@qesco.co.uk
		div(class="social-media")
			span Follow us
			ul
				li
					a(href="#")
						i(class="fab fa-facebook-f")
						span Facebook
				li
					a(href="#")
						i(class="fab fa-twitter")
						span Twitter
				li
					a(href="#")
						i(class="fab fa-linkedin")
						span Linkedin
			// end social-media
	// end container