extend index

block website_title
    title relax | error 404

block all_index
    block home_index
        section(class="error404")
            .container 
                .error-content 
                    h2 404
                    p Page Not Found
                    .button 
                        a(href="index.html" class="btn hvr-sweep-to-top") home page