header
   aside(class="side-widget")
      div(class="inner")
         div(class="logo")
            a(href="index.html")
               img(src="../images/logo.png", alt="")
         // end hide-mobile
         div(class="show-mobile")
            div(class="custom-menu")
               ul
                  li
                     a(href="#") En
                  li
                     a(href="#") Ar
            hr
            div(class="site-menu")
               div(class="menu-main-menu-container")
                  ul(class="menu-horizontal")
                     li(class="menu-item nav-item")
                        a(href="index.html", class="nav-link") home
                     li(class="menu-item nav-item")
                        a(href="about.html", class="nav-link") About
                     li(class="menu-item nav-item")
                        a(href="services.html", class="nav-link") Services
                     li(class="menu-item nav-item")
                        a(href="form-request.html", class="nav-link") form request
                     li(class="menu-item nav-item")
                        a(href="Contact.html", class="nav-link") Contact
            //- div(class="hide-mobile")
            //-    div(id="custom_html-4", class="widget_text widget widget_custom_html")
            //-       div(class="textwidget custom-html-widget")
            //-          p Take the complexity out of customs Freight Solutions with customs brokerage services
            //-          h6(class="widget-title") CONTACT INFO
            //-          address(class="address")
            //-             p +1 (850) 344 0 66
            //-                br
            //-                a(href="#") sales@qesco.co.uk
         // end show-mobile
         hr
         small © 2021 | perfect workgroup Company
      // end inner
   nav(class="navbar")
      div(class="container")
         div(class="inner")
            div(class="logo")
               a(href="index.html")
                  img(src="../images/logo.png", alt="")
            div(class="custom-menu")
               ul
                  li
                     a(href="../index.html") En
                  li
                     a(href="index.html") Ar
            div(class="site-menu")
               div(class="menu-main-menu-container")
                  ul
                     li(class="menu-item nav-item")
                        a(href="index.html", class="nav-link") home
                     li(class="menu-item nav-item")
                        a(href="about.html", class="nav-link") About
                     li(class="menu-item nav-item")
                        a(href="services.html", class="nav-link") Services
                     li(class="menu-item nav-item")
                        a(href="form-request.html", class="nav-link") form request
                     li(class="menu-item nav-item")
                        a(href="Contact.html", class="nav-link") Contact
            div(class="hamburger-menu")
               span
               span
               span
            div(class="navbar-button")
               a(href="#") GET A QUOTE